form{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
    border-radius: 10px;
}

form>input{
    width: 80%;
    background-color: cornsilk;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0px 0px 3px grey;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

form>input:focus{
    outline: none;
    box-shadow: 0px 0px 6px black;
}

form>button{
    width: 80%;
    background-color: crimson;

}